.board{
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    gap: 5px;
    max-width:  300px;
    margin: 0 auto;
    margin-top: 50px;
}

.cell{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    font-size: 24px;
    cursor: pointer;
    padding: 40px;
    transition: bacckground-color 0.3 ease;
}
.cell:hover{
    background: gray;
}